body {
    margin: 0px;
    padding: 0px;
}

label {
    color: #2f3131;
    font-weight: bold;
}

section {
    width: 90%;
    height: auto;
    position: relative;
    margin: 30px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 22px 18px 43px -24px #a118a1b5;
}

#frmregistro {
    margin: 50px;
    padding: 30px;
    border-radius: 10px;
}

.primera {
    background-color: #93a3a3;
}

.submit {
    margin-top: 1rem;
}

.massage {
    margin: 0.5rem;
    padding: 0.5rem;
}

.massageerror {
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: #e96048;
    color: #ffffff;
}

@media (max-width: 1000px) {
    section {
        width: 50%;
        height: auto;
        position: relative;
        margin: 30px;
    }
}

@media (max-width: 360px) {
    section {
        margin: 0px;
        width: 100%;
    }
}