body {
    margin: 0px;
    padding: 0px;
}

label {
    color: #2f3131;
    font-weight: bold;
}

section {
    width: 90%;
    height: auto;
    position: relative;
    margin: 30px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 22px 18px 43px -24px #a118a1b5;
}

#frmregistro {
    margin: 50px;
    padding: 30px;
}

.primera {
    background-color: #a2caca;
}

.submit {
    margin-top: 1rem;
}